<div ng-show="allmlb">
  <div ng-repeat="league in allmlb.sports[0].leagues">
    {{allmlb.sports[0].name}} - {{league.name}}
    <div ng-repeat="team in league.teams">
      <mlb-team team="team"></mlb-team>
    </div>
  </div>
  <a href="http://developer.espn.com/docs/teams#what-it-returns">stupid api example</a>
</div>

<div ng-show="mlbteam">
  <div ng-show="mlbteam.resultsCount == 1">
    {{mlbteam.sports[0].name}} - {{mlbteam.sports[0].leagues[0].name}}
    <mlb-team team="mlbteam.sports[0].leagues[0].teams[0]"></mlb-team>
    <a href="http://developer.espn.com/docs/teams#what-it-returns">stupid api example</a>
  </div>
  <div ng-show="mlbteam.resultsCount < 1">
    what?!!?!? no team found
  </div>
</div>